@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

.landing-page-gradient {
  background: linear-gradient(
    250deg,
    #f06e17 20%,
    #f49b3d 37.5%,
    #f4a041 44.52%,
    #ee912f 51.88%,
    #ef6f18 100%
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.pokemon-card::before {
  content: " ";
  position: absolute;
  top: -2%;
  left: -2%;
  width: 104%;
  height: 104%;
  border-radius: 25px;
  filter: blur(18px);
  z-index: -2;
}

.pokemon-card:hover:before {
  animation: animateBG 20s linear infinite;
}

.number-container {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 15px;
  position: relative;
  z-index: 2;
}
/*Grass Type*/
.pokemon-card.grass::before {
  background: linear-gradient(to right, #aaffa9, #11ffbd, #45daaf, #aaffa9);
  background-size: 400%;
}

/*Fire Type*/
.pokemon-card.fire::before {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121, #8a2387);
  background: linear-gradient(
    to right,
    #44107a,
    #ff1361,
    #ffc400,
    #ff1361,
    #44107a
  );
  background-size: 400%;
}

/*Water Type*/
.pokemon-card.water::before {
  background: linear-gradient(to right, #a6fcf7, #0ed2f7, #38dbfc, #a6fcf7);
  background-size: 400%;
}

/*Electric Type*/
.pokemon-card.electric::before {
  background: linear-gradient(90deg, #fae078, #f8d030, #f7ae12, #fae078);
  background-size: 400%;
}

/*Bug Type*/
.pokemon-card.bug::before {
  background: linear-gradient(to right, #16a085, #d7df3d, #f4d03f, #16a085);
  background-size: 400%;
}

/*Dragon Type*/
.pokemon-card.dragon::before {
  background: linear-gradient(90deg, #a27dfa, #7038f8, #4924a1, #a27dfa);
  background-size: 400%;
}

/*Fairy Type*/
.pokemon-card.fairy::before {
  background: linear-gradient(90deg, #f4bdc9, #ee99ac, #9b6470, #f4bdc9);
  background: linear-gradient(to right, #fc67fa, #f4c4f3, #af62ae, #fc67fa);
  background-size: 400%;
}

/*Ghost Type*/
.pokemon-card.ghost::before {
  background: linear-gradient(90deg, #a292bc, #705898, #493963, #a292bc);
  background: linear-gradient(to right, #ff00cc, #333399, #705898, #ff00cc);
  background-size: 400%;
}

/*Ground Type*/
.pokemon-card.ground::before {
  background: linear-gradient(to right, #f0c27b, #4b1248, #e0c068, #f0c27b);
  background-size: 400%;
}

/*Ice Type*/
.pokemon-card.ice::before {
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4, #9cecfb);
  background-size: 400%;
}

/*Normal Type*/
.pokemon-card.normal::before {
  background: linear-gradient(90deg, #c6c6a7, #a8a878, #6d6d4e, #c6c6a7);
  background-size: 400%;
}

/*Posion Type*/
.pokemon-card.poison::before {
  background: linear-gradient(to right, #cc208e, #6713d2, #a040a0, #cc208e);
  background-size: 400%;
}

/*Psychic type*/
.pokemon-card.psychic::before {
  background: linear-gradient(to right, #3494e6, #ec6ead, #f85888, #3494e6);
  background-size: 400%;
}

/*Rock Type*/
.pokemon-card.rock::before {
  background: linear-gradient(90deg, #d1c17d, #b8a038, #786824, #d1c17d);
  background-size: 400%;
}

/*Steel Type*/
.pokemon-card.steel::before {
  background: linear-gradient(90deg, #d1d1e0, #b8b8d0, #787887, #d1d1e0);
  background-size: 400%;
}

/*Fightting type*/

.pokemon-card.fighting::before {
  background: linear-gradient(to right, #ff0844, #ffb199, #c03028, #ff0844);
  background-size: 400%;
}

/*Flying Type*/
.pokemon-card.flying::before {
  background: linear-gradient(90deg, #a890f0, #a890f0, #6d5e9c, #a890f0);
  background-size: 400%;
}

.pokemon-card::before {
  opacity: 0;
}

.pokemon-card:hover::before {
  opacity: 1;
}

/*Dark Type*/
.pokemon-card.dark::before {
  background: -webkit-linear-gradient(
    to right,
    #59c173,
    #a17fe0,
    #5d26c1,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1, #59c173);
  background-size: 400%;
}

@keyframes animateBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
